[Unit]
Description=IPMI expoter
After=ipmidetected.service

[Service]
Type=simple
ExecStart=/usr/local/bin/ipmi_exporter --config.file=/etc/exporter.d/ipmi.yml \
                                       --web.listen-address=":9290"
PrivateTmp=false

[Install]
WantedBy=multi-user.target

