[Unit]
Description=Node Exporter
After=network.target prometheus-dcgm.service

[Service]
Type=simple
ExecStart=/usr/local/bin/node_exporter --collector.logind \
                                       --collector.ntp \
                                       --collector.systemd \
                                       --collector.processes \
                                       --collector.textfile.directory /run/prometheus \
                                       --web.listen-address=":9100" \
                                       --log.level="info"
PrivateTmp=false

[Install]
WantedBy=multi-user.target

